body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.form {
  margin: 20px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

li {
  background: white;
  margin: 8px;
  padding: 10px;
  list-style: none;
}

.past-event {
  opacity: 0.5;
}

.completed-label {
  margin-left: 10px;
  color: green;
  font-weight: bold;
}
.past-event {
  opacity: 0.5;
}

h3 {
  margin-top: 20px;
  color: #333;
}